[buildout]
extends = https://dist.plone.org/release/5.2-latest/versions.cfg
show-picked-versions = true
extensions =
    mr.developer

parts =
    instance
    test
    code-analysis
    releaser
    omelette
    robot
    plonepy

develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
eggs =
    collective.instancebehavior

[code-analysis]
recipe = plone.recipe.codeanalysis
flake8-extensions =
    flake8-blind-except
    flake8-coding
    flake8-debugger
    flake8-deprecated
    flake8-isort
    flake8-pep3101
    flake8-plone-api
    flake8-plone-hasattr
    flake8-print
    flake8-quotes
    flake8-string-format
    flake8-todo
directory = ${buildout:directory}/src/collective
flake8-exclude = docs,*.egg.,omelette
flake8-max-complexity = 12
flake8-inline-quotes = double
flake8-ignore = E501
pre-commit-hook = False
return-status-codes = False


[omelette]
recipe = collective.recipe.omelette
eggs =
    ${test:eggs}


[test]
recipe = zc.recipe.testrunner
eggs =
    collective.instancebehavior [test]
initialization =
    os.environ['TZ'] = 'UTC'
defaults = ['-s', 'collective.instancebehavior', '--auto-color', '--auto-progress']


[coverage]
recipe = zc.recipe.egg
eggs = coverage


[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[plonepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = python-plone
scripts = python-plone

[versions]
# Don't use a released version of collective.instancebehavior
collective.instancebehavior =
